---
import BaseLayout from "../layouts/BaseLayout.astro";
import TimeLineElement from "../components/cv/TimeLine.astro";
---

<BaseLayout title="Resume" sideBarActiveItemID="cv">
  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Profile</div>
  </div>

  <div class="mb-10 text-justify">
I am a dedicated programmer with a deep passion for problem-solving and innovation. For me, coding is more than just writing lines of code—it’s about creating meaningful solutions and pushing the boundaries of technology. I thrive on challenges, constantly exploring new languages, frameworks, and methodologies to enhance my skills.

Continuous learning is at the core of my journey. Whether it’s mastering new technologies, optimizing algorithms, or diving into emerging trends like AI and cloud computing, I embrace every opportunity to grow and adapt. My goal is to stay ahead in the ever-evolving tech landscape, refining my expertise while building impactful projects.

With a mindset driven by curiosity and persistence, I approach each project with enthusiasm, problem-solving skills, and a commitment to excellence.
  </div>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Education</div>
  </div>

  <div class="time-line-container grid gap-4 mb-10">
    <TimeLineElement
      title="Dipolma in Information Technology (C85)"
      subtitle="2020 to 2023 at Nanyang Polytechnic, Singapore"
    />
    <TimeLineElement
      title="Higher Nitec in IT Systems and Networks"
      subtitle="2018 to 2020 at Institute of Technical Education, Singapore"
    />
  </div>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Experience</div>
  </div>

  <div class="time-line-container mb-10">
    <TimeLineElement
      title="Software Engineer"
      subtitle="From May 2022 to Aug 2022 at Anacle Systems Limited, Singapore"
    >
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident.
    </TimeLineElement>
  </div>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Certifications</div>
  </div>

  <ul class="list-disc mx-6 mb-10 grid gap-2">
    <li>
      <a href="#" target="_blank"> Fundamentals of Deep Learning</a>
    </li>
    <li>
      <a href="#" target="_blank"> REIMAGINE THE NEXT DISRUPTIVE TECHNOLOGY FOR EMERGING AREAS</a>
    </li>
    <li>
      <a href="#" target="_blank"> Joint ITE-Oracle Certificate in Essentials of Java Programming</a>
    </li>
  </ul>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Skills</div>
  </div>

  <ul class="list-disc md:columns-5 columns-2 mx-6">
    <li>HTML, CSS, JavaScript</li>
    <li>React</li>
    <li>Node.js, Express.js</li>
    <li>Python, Django, Flask</li>
    <li>Java</li>
    <li>C, C++</li>
    <li>SQL, PostgreSQL, MongoDB</li>
    <li>RESTful APIs, GraphQL</li>
    <li>Git, GitHub, CI/CD</li>
    <li>Cloud Computing (AWS)</li>
    <li>Machine Learning, AI (TensorFlow, PyTorch, OpenCV, scikit-learn)</li>
    <li>Data Science, Big Data (Pandas, NumPy)</li>
  </ul>
</BaseLayout>
