---
const today = new Date();
---

<footer class="footer footer-center block mb-5 pt-10">
  <div class="pb-2">
    &copy; {today.getFullYear()} Jenson
  </div>
  <div class="inline opacity-75">
    Developed by <a href="" target="_blank" class="font-bold">Jenson</a>
  </div>
</footer>
<style></style>
